<div class="container">
  <div class="container-inner">
  <div class="title-wrapper">
  <h1>A very very simple calculator</h1>
  <p>This calculator is based on a pre-trained model built using tensorflow.</p>
  <p>You can see the code for the machine built part at <a href="https://colab.research.google.com/drive/1p1lw8vJ-N5kAPgPJ3q-qqKaUB1ueIUb1#scrollTo=SKZgCF7H2CN2" target="_blank">Google Colab</a></p>
  </div>
  <div class="calc-wrapper">
    <input type="text" value="0" (keyup)="predict(Input1.value, Input2.value)" #Input1/> <span>+</span>
    <input type="text" value="0" (keyup)="predict(Input1.value, Input2.value)" #Input2/> <span>=</span>
    <p>{{prediction}}</p>
  </div>
</div>
</div>

<router-outlet></router-outlet>
